

/* body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
 */

.full-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* menu settings */
/* Base styles */
body {
    font-family: 'Serif', serif; /* Default font */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

/* Light theme styles */
body.light-mode {
    background-color: #fff; /* Light background */
    color: #000; /* Dark text for light background */
}

/* Dark theme styles */
body.dark-mode {
    background-color: #1b1b1b; /* Dark background */
    color: #fff; /* Light text for dark background */
}

.container.dark-mode {
    background-color: #333; /* Dark background for the container */
    color: #ffffff; /* White text color for the container */
}

.word.dark-mode, .pronunciation.dark-mode {
    color: #ffffff; /* White text color for the word and pronunciation */
}


/* Settings styles */
.settings {
    /* Add your styles for the settings container */
}

/* end of menu settings */


.search-container {
    display: flex;
    align-items: center;
    border-radius: 50px;
    background-color: #f5f5f5;
    padding: 5px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 500px;
    margin: auto;
    margin-bottom: 30px;
}

#searchBar {
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    background-color: #f5f5f5;
    font-family: 'Serif', serif; /* Replace 'Serif' with the actual font you want to use */
    color: #333;
}

#searchButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}

#searchButton svg {
    fill: #9949ff; /* Color of the icon */
}

/* Placeholder styling */
#searchBar::placeholder {
    color: #aaa;
}

/* Focus styling */
#searchBar:focus {
    background-color: #fff;
}

/* To remove the blue outline on focus for the button */
#searchButton:focus {
    outline: none;
}






.container {
    width: 60%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.noun-box-line {
    display: flex;
    align-items: center;
    gap: 28px;
}

.verb-box-line {
    display: flex;
    align-items: center;
    gap: 28px;
}


.noun-box-line h2 {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 27px;
    display: inline-block;
    margin-bottom: 10px;
}

.verb-box-line h2 {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 27px;
    display: inline-block;
    margin-bottom: 10px;
}

.noun-box-line span {
    width: 100%;
    background: lightgrey;
    height: 1.5px;
}

.verb-box-line span {
    width: 100%;
    background: lightgrey;
    height: 1.5px;
}

.word-box {
    display: flex;
    flex-direction: column;
}

.word {
    font-size: 48px;
    color: #333;
}

.pronunciation {
    font-size: 25px;
    color: #9949ff;
}

.part-of-speech {
    text-align: left;
    margin-top: 20px;
}

.definition {
    margin-top: 10px;
}

.meaning-title {
    font-weight: bold;
}

/* ul {
    list-style: none;
    padding-left: 0;
} */


.definition ul {
    list-style-type: none;
    padding-left: 0; 
}

.definition li {
    position: relative;
    margin-bottom: 5px; 
    padding-left: 20px; 
}

.definition li::before {
    content: '•'; 
    color: #9949ff; 
    font-size: 20px; 
    position: absolute;
    left: 0;
    top: 0;
}







li {
    margin-bottom: 5px;
}

.synonyms {
    margin-top: 20px; 
}

.synonyms p {
    font-weight: bold;
}

.synonyms a {
    color: #9949ff;
    text-decoration: none;
    font-weight: normal;
}

.synonyms a:hover {
    text-decoration: underline;
}





.pronunciation {
    font-size: 24px;
    color: #555;
    margin-top: 10px;
}


.synonyms p {
    font-weight: bold;
}



